.header {
  background-image: url(./images/bg-header-desktop.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 363px;
  mix-blend-mode: normal;
  /* opacity: 0.25; */
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.hero{
  margin-top: -150px;

  >img {
    margin-bottom: 58px;
  }
}

.btn-group {
  gap: 16px;
}

.feature {
  margin-right: 300px;
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 100px;

  >ul {
    list-style: none;
    padding: 0;

    >li {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.devices {
  height: 600px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

footer{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  background: #f4f4f4;
  mix-blend-mode: normal;
}

.footer-logo{
  grid-area: 1/1/2/2;
  margin: 44px 75px 50px 95px;
  width: 55px;
  height: 55px;
}

.links{
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.social-link{
  grid-area: 1/3/2/4;
}

.functions {
  gap: 35px;
  align-items: baseline;
}

.support-companies{
  >img {
    margin-left: 60px
  }
}

.footer{
	gap: 100px;
}
.footer-logo{
	width: 53px;
	height: 53px;
	
}
.footer-logo img{
	width: 100%;
  width: 53px;
	height: 53px;
}

.footer>.blacklist>p:hover{
	cursor: pointer;
	color: aqua;
}
.social>img:hover{
	cursor: pointer;
	background-color: aqua;
	color: aqua;
}

.social{
	display: flex;
	gap: 15px;
}