@import url('./fonts/style.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./providing.css');

* {
	box-sizing: border-box;
}

body {
	background-color: #EEEDEB;
	color: #ffffff;
	font-family: 'Neue Machina', sans-serif;
}

body > header{
	background-color: #000000;
}

button {
	cursor: pointer;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.vertical-line {
	display: inline-block;
	height: 41px;
	width: 1px;
	background-color: var(--black-80);
}

.half-blood {
	height: 20px;
	position: relative;
}

.half-blood > .content {
	position: absolute;
	top: -105px;
}

body > main {
		height: 100vh;
}
.cards {
	text-align: center;
	margin-top: -100px;
}

.card {
  display: inline-block;
	background-color: #ffffff;
	color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
	width: 360px;
	height: 200px;
}

.card > img {
	width: 20px;
	height: 20px;
	color: #000000;
}