body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header , main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px!important;
}

button{
  cursor: pointer;
}
.container-fluid{
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);  
}


main{
  padding-top: -120px;
}

.btn-1 {
  background: #13183F;
  border-radius: 28px;
  height: 56px;
  width: 170px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;

}

.btn-1:hover{
  background: #666CA3;
}

.btn-2 {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-radius: 31.5px;
  height: 63px;
  width: 167px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 15px;
  border: #F02AA6;
}

.btn-2:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  border-color: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183F;
}

.container-fluid p {
  height: 84px;  
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #83869A;
}

.img-hero img{
  width: 100%;
  object-fit: cover;
}


.h5{
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) !important;
  border-radius: 15px;
  height: 322px;
  width: 350;
  left: 9.14%;
  right: 9.14%;
  top: calc(50% - 120px/2 - 37px);
  
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  
  color: #FFFFFF;
}

.one-card{
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) !important;
  border-radius: 15px;
  text-align: center;
  padding: 80px  0 80px 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  color: #FFFFFF;
}


.card-body{

background: #FFFFFF;
box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
border-radius: 15px!important;
}

.card-body img {
  margin-top: -60px;
} 

.mb-card {
  margin-bottom: 60px;
} 

.btn{
  background-color: transparent !important;
  color: #F74780;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  border:none !important ;
  outline: none !important;
}

.btn:hover{
  color: #FFA7C3;
}

footer{
  height: 120px;
  top: 1725px;
  background: #13183F;
}

footer > .container {
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}



.btn-3{
  width: 167px;
  height: 56px;
  left: 0px;
  top: 0px;
  border-radius: 28px;
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
  
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  
  color: #FFFFFF;
}

.btn-3:hover{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}


  