*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.container {
  background-color: #fff;
  width: 80vmin;
  padding: 80px 20px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.search-box{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 10px 20px;
  > input {
    border: none;
    outline: none;
    background-color: whitesmoke;
  }
  > button {
    padding: 5px ;
    border-radius: 100%;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    color: #ae9cff;
    
  }
}

.result {
  position: relative;
  > .word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    >h1{
      font-size: 35px;
    }
  }
  > .word >button {
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    >img {
      width: 40px;
      height: 40px;
    }
  }
  > .details{
    display: flex;
    color: #ae9cff;
    font-size: 14px;
  }

  >.word-explanation
  >.meaning-top {
    padding: 25px 0;
    align-items: center;
    display: flex;
    > p {
      font-size: 14px;
      width: 10%;
      padding-top: 0;
    }
    > hr {
      width: 100%;
      height: 1px;
      background-color: #d3d3d3;
      border: none;
      }
    }
}

.word-meaning{
  color: #575a7b;
  font-size: 14px;
  font-style: italic;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  >p {
    margin-bottom: 10px;
  }

  >hr {
    padding-top: 100px;
    width: 100%;
    height: 1px;
    color: #d3d3d3;
  }

  >a{
    color: #ae9cff;
  }
}
