.finding{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.finding > .left  {
    height: 40vh;
    width: 60%;
   background-color: var(--black);
}
.finding > .left > h1{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 128%;
    letter-spacing: 0.065em;
    color: rgba(255, 255, 255, 0.89);
    padding: 25px;
}

.finding > .left > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 144%;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 0.67);
    padding: 25px;
}

.special-role{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.special-role> .one, .special-role> .two ,.special-role> .three{
    width: 285px;
    height: 180px;
    border: 1px solid black;
    background: #FFFFFF;
border-radius: 24px;

}

.special-role> .global{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
